/* css reset */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: NorseBold;
  src: url(fonts/NorseBold-2Kge.otf);
}

/* Full page background image */
body {
  background-image: url("images/bg-stone3.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on the container’s size */
  background-size: cover;
  /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;

  font-family: NorseBold, serif;
}

/* Page structure */
header {
  height: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.odin {
  background: transparent center/cover url("images/odin.png") no-repeat;
  height: 105px;
  width: 79px;
  opacity: 0.75;
}

.power {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 3px groove #7c7c7c;
  border-radius: 50%;
  cursor: pointer;
}

.title {
  margin: 0 40px 0 40px;
  padding: 20px;
  font-size: 8rem;
  color: #252525;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  height: 50vh;
}

.vertical-text {
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
}

/* .vertical-text {
  width: 0px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: rgb(121, 202, 0);
} */

.calculator {
  border: 3px groove #7c7c7c;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 360px;
  margin: 0 0 0 40px;
  height: 100%;

  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}

.calculator-screen {
  width: calc(100% - 20px);
  font-size: 6rem;
  line-height: 4rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #97928c;
  text-align: right;
  padding: 0 20px 0 20px;
  margin: 10px 10px 0 10px;
  opacity: 0.75;
  border: 2px inset #6e6e6e;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.glow {
  /* Glowing "flux" background */
  box-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe;
  background-color: #28d7fe;
  /* Glowing "neon" text */
  text-shadow: 0 0 0.6vw #fa1c16, 0 0 0.3vw #fa1c16, 0 0 0.4vw #fed128;
  color: #fed128;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  opacity: 1;
}

.calculator-screen,
button {
  font-family: NorseBold, serif;
}

/* buttons */

button {
  height: 60px;
  border-radius: 2px;
  border: 3px groove #797979;
  background-color: transparent;
  font-size: 4rem;
  color: #252525;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.flux:hover {
  /* color: #337cac; */
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128;
  color: #fed128;
}

button:active {
  border: 2px inset #797979;
}

.operator {
  /* color: #337cac; */
  font-size: 6rem;
  line-height: 5rem;
}

.all-clear {
  /* border-color: #b0353a; */
}

.all-clear:hover {
  /* background-color: #f17377; */
}

.equal-sign {
  /* border-color: #337cac; */
  height: 100%;
  grid-row: 2 / 5;
  grid-column: 4 / 5;
  font-size: 6rem;
}

.equal-sign:hover {
  /* background-color: #4e9ed4; */
}

/* Based on Neon Flux https://codepen.io/Trinca/pen/NrvpWa */

.neon {
  color: #fb4264;
  text-shadow: 0 0 3vw #f40a35;
}

.flux {
  color: #426dfb;
  text-shadow: 0 0 3vw #2356ff;
}

.neon {
  animation: neon 5s ease infinite;
  -moz-animation: neon 5s ease infinite;
  -webkit-animation: neon 5s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b;
    color: #806914;
  }
}

.flux {
  animation: flux 5s linear infinite;
  -moz-animation: flux 5s linear infinite;
  -webkit-animation: flux 5s linear infinite;
  -o-animation: flux 5s linear infinite;
}

.flux:hover {
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128;
  color: #fed128;
  animation: none;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw;
    color: #1d4953;
  } /* old color #146c80 */
}
