/* CSS Reset */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: NorseBold;
  src: url(fonts/NorseBold-2Kge.otf);
}

/* Full Page Background Image */
body {
  background-image: url("images/bg-stone3.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* Background image will rescale based on the container’s size */
  background-size: cover;
  /* Background color that will be displayed while the background image is loading */
  background-color: #464646;

  font-family: NorseBold, serif;
}

/* Structure */
#header-left,
#header-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

#header-right {
  padding-right: 20px;
}

#header-center {
  width: 360px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles */
.header {
  font-size: 10rem;
  letter-spacing: 4.2rem;
  color: #252525;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  width: 360px;
  text-align: center;
}
.odin {
  background: transparent center/cover url("images/odin.png") no-repeat;
  height: 100px;
  width: 100px;
  margin-top: 8px;
}

.odin.power-on {
  background: transparent center/cover url("images/odin-power-on.png") no-repeat;
}

.power-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  border: 8px solid #252525;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75), inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 rgba(255, 255, 255, 1), 0 1px 0 0 rgba(255, 255, 255, 0.75);
}

.power-button.power-on {
  /* radial gradient bg for The Odin Project logo */
  background: transparent;
  background: -webkit-radial-gradient(center, rgba(254, 209, 41, 0.75), transparent 70%);
  background: -moz-radial-gradient(center, rgba(254, 209, 41, 0.75), transparent 70%);
  background: radial-gradient(circle at center, rgba(254, 209, 41, 0.75), transparent 70%);
  border-color: #28d7fe;
  /* matching the text-shadow from .magic-txt */
  box-shadow: 0 0 40px -5px #1041ff;
}

.power-button:hover {
  border-color: #28d7fe;
}

.power-button:active {
  border: 4px inset #28d7fe;
}

.title {
  margin: 0 40px;
  padding: 20px;
  font-size: 9rem;
  color: #252525;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  text-align: center;
}

/* All Browser Compliant Vertical Text */
.vertical-text {
  width: 0;
  word-break: break-all;
  white-space: pre-wrap;
}
/* All Browser Compliant Vertical Text v2 */
/* .vertical-text {
  width: 0px;
  word-wrap: break-word;
  white-space: pre-wrap;
} */

/* Calculator */
.calculator {
  border: 3px groove #7c7c7c;
  width: 360px;
  margin: 0 40px;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}

.calculator-screen {
  width: calc(100% - 20px);
  font-size: 6rem;
  line-height: 4rem;
  height: 80px;
  border: none;
  background-color: rgba(37, 37, 37, 0.75); /* #252525 75%*/
  color: #97928c;
  text-align: right;
  padding: 0 10px;
  margin: 10px 10px 0 10px;
  border: 2px inset #6e6e6e;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  opacity: 1;
}

.calculator-screen,
button {
  font-family: NorseBold, serif;
}

/* Calculator Buttons */
button {
  height: 60px;
  border-radius: 2px;
  border: 3px groove #797979;
  background-color: transparent;
  font-size: 4rem;
  color: #252525;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.magic-pulse:hover {
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128;
  color: #fed128;
}

button:active {
  border: 2px inset #797979;
}

.operator {
  font-size: 6rem;
  line-height: 5rem;
}

.equal-sign {
  height: 100%;
  grid-row: 2 / 5;
  grid-column: 4 / 5;
  font-size: 6rem;
}

/* Fire And Magic */
.magic-bg {
  box-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe;
  background-color: rgba(40, 215, 254, 0.75); /* #28d7fe */
}

.magic-txt {
  text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe;
  color: #28d7fe;
}

.firey-txt {
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fed128, 0 0 10vw #fed128, 0 0 10vw #fed128, 0 0 0.4vw #fed128;
  color: #fed128;
}

.golden-txt {
  /* firey stroke on gold */
  color: #fed128;
  -webkit-text-fill-color: #fed128; /* will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fa1c16;
}

/* Based on Neon Flux https://codepen.io/Trinca/pen/NrvpWa */
.firey-pulse {
  color: #fb4264;
  text-shadow: 0 0 3vw #f40a35;
}

.magic-pulse {
  color: #426dfb;
  text-shadow: 0 0 3vw #2356ff;
}

.firey-pulse {
  animation: firey-pulse 5s ease infinite;
  -moz-animation: firey-pulse 5s ease infinite;
  -webkit-animation: firey-pulse 5s ease infinite;
}

@keyframes firey-pulse {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fed128, 0 0 0.4vw #fed128;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b;
    color: #806914;
  }
}

.magic-pulse {
  animation: magic-pulse 5s linear infinite;
  -moz-animation: magic-pulse 5s linear infinite;
  -webkit-animation: magic-pulse 5s linear infinite;
  -o-animation: magic-pulse 5s linear infinite;
}

.magic-pulse:hover {
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128;
  color: #fed128;
  animation: none;
}

@keyframes magic-pulse {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw;
    color: #1d4953;
  } /* alt color #146c80 */
}

/* Custom checkbox
 *  REF: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp 
 */

/* Customize the label (the container) */
.custom-checkbox-container {
  display: block;
  position: relative;
  margin: 5px 10px 10px;
  cursor: pointer;
  font-size: 2.6rem;
  line-height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-text {
  position: relative;
  margin-left: 30px;
  color: #252525;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 3px groove #797979;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

/* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.05);
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #bbb;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
